{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_filters %}
{% block head %}
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="{% static 'css/project_detail.css' %}">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <title>leave details</title>
{% endblock %}
{% block body %}
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Tabs Titles -->

            <!-- Icon -->
            <div class="fadeIn first">
                <h1>Employee Name : {{ leave_expand.leave_for }}</h1>
            </div>

            <!-- Login Form -->
            <h4><small>Applied on : </small> {{ leave_expand.apply_date }}</h4>
            <h4><small>From : </small> {{ leave_expand.from_date }}</h4>
            <h4><small>To : </small> {{ leave_expand.to_date }}</h4>
            <h4><small>Reason :</small> {{ leave_expand.reason|linebreaks }}</h4>
            <h4><small>Total days :</small> {{ leave_expand.total_days }}</h4>
            <br><br><br><br>

            <!-- footer -->
            <div id="formFooter">
                {% if leave_expand.id not in approved_leaves %}
                    {% if leave_expand.id not in rejected_leaves %}
                        <form action="" method="post" name="Login_Form" class="form-sign_in">
                            {% csrf_token %}
                            <h3 class="form-sign_in-heading">Project Status: </h3>
                            <br>
                            <fieldset class="form-group">
                                {{ form }}
                                <input type="submit" class="btn btn-outline-primary" value="Submit">
                            </fieldset>
                        </form>
                    {% elif leave_expand.id in rejected_leaves %}
                        <h3 style="text-align: center; color: darkred">---Rejected---</h3>
                    {% endif %}

                {% else %}
                    <h3 style="text-align: center; color: green">---Done---</h3>
                {% endif %}

            </div>

        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
{% endblock %}